<%- include('./partials/headerDashboard')%>

<%function ellipsify (str) {
    if (str.length > 140) {
        return (str.substring(0, 138) + "...");
    }
    else {
        return str;
    }
  }%>

<% function tokenize (str) {
    newStr = str.replace(/ /g, "§");
    return(newStr);
} %>


<link rel="stylesheet" href="/assets/css/modificaPost.css">

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin/dashboard">Villa Bersezio&nbsp;</a>
        <a class="navbar-brand" id="admin-cockpit" href="#"><b>| </b>&nbsp;&nbsp;Administration Cockpit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link first" href="dashboard"><i class="fas fa-home"></i> Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item second">
                    <a class="nav-link" href="/admin/creaPost"><i class="fas fa-plus"></i>&nbsp;Crea Post</a>
                </li>
                <li class="nav-item third">
                    <a class="nav-link" href="/admin/modificaPost"><i class="fas fa-pen"></i>&nbsp;Modifica Post</a>
                </li>
                <li class="nav-item fourth">
                    <a class="nav-link" href="/admin/eliminaPost"><i class="fas fa-trash"></i>&nbsp;Elimina Post</a>
                </li>
                <li class="nav-item fifth">
                    <a class="nav-link" href="/admin/tuttiPost"><i class="fas fa-book"></i>&nbsp;Storico Post</a>
                </li>
                <li class="nav-item ">
                    <div class="dropdown" style="padding-top: -10px !important;">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img id="rotation" style="width: 30px; height: 30px;" src="/assets/img/profilePic.png"
                                alt="profile-dropdown">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item dropdown-profile" style="font-size: 15px;" href="/admin/profile"><i
                                    class="fas fa-user-circle"></i> Profilo</a>
                            <a class="dropdown-item dropdown-exit" style="font-size: 15px;" href="/admin/logout"><i
                                    class="fas fa-sign-out-alt"></i> Esci</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>



    <div class="container-fluid" style="padding: 20px 20px 20px 20px;">
        <div class="row" align="center">

            <% if (Post.length) { %>
            <% Post.forEach((Post) => { %>

            <div class="col">
                <div class="card" id="card" style="width: 18rem;">

                    <%if (Post.Date){%>
                    <i class="fas fa-clock"></i>
                    <h6 id="text-clock"><%=Post.Hour%></h6>


                    <i class="fas fa-calendar"></i>
                    <h6 id="text-calendar"><%=Post.Date%></h6>
                    

                            <h5 class="card-title"><%= Post.Title %></h5>

                    <div class="card-body">

                        <p class="card-text"><%= ellipsify(Post.Content) %></p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn" id="btn-modify" data-toggle="modal" data-target="#exampleModalLong" data-titolo=<%=tokenize(Post.Title)%> data-contenuto=<%=tokenize(Post.Content)%> data-data=<%=Post.Date%> data-ora=<%=Post.Hour%> data-caricato=<%=Post.Uploaded%> data-autore=<%=tokenize(Post.Author)%> data-id = <%=Post._id%>>
                            Modifica
                        </button>
                    </div>
                    <%} else { %> 





                        <h5 class="card-title"><%= Post.Title %></h5>

                    <div class="card-body">

                        <p class="card-text"><%= ellipsify(Post.Content) %></p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn" id="btn-modify" data-toggle="modal" data-target="#exampleModalLongNoData" data-titolo=<%=tokenize(Post.Title)%> data-contenuto=<%=tokenize(Post.Content)%> data-caricato=<%=Post.Uploaded%> data-autore=<%=tokenize(Post.Author)%> data-id = <%=Post._id%> >
                            Modifica
                        </button>
                    </div>
                    <%}%>

            </div>
            </div>
        



        <% }) %>
        <% } else { %>


            <div class="container">
                <div class="card card-ops">
                    <div class="card-body">
                        <div class="card-title">
                            <h1><i style="color: rgb(190, 1, 1); background-color: #fff; width: 50px; height: 50px; padding-top: 5px; border-radius: 50px; box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);"
                                    class="fas fa-exclamation-circle"></i>&nbsp;Nessun post da visualizzare.</h1>
                            <p>Clicca qui sotto per creare il tuo primo post.</p><br>
                            <a href="/admin/creaPost" class="btn btn-ops"><i class="fas fa-plus"></i>&nbsp;Crea Post</a>
                        </div>
                    </div>
                </div>
            </div>

        <%}%>


    </div>
</div>


    <!-- Modal -->
    
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: #fff;">
                <div class="modal-header" style="border-bottom: 1px solid #fff;">
                    <div class="form-group">
                        <label for=" exampleInputEmail1" style="font-family: 'Abril Fatface', cursive;"></label>
                        <input type="text" class="modal-title" id="title" aria-describedby="emailHelp"
                            placeholder="Inserire titolo Evento"
                            style="font-family: 'Abril Fatface', cursive;">
                    </div>
                    <button id="btn-close-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="md-form md-outline">
                        <label for="default-picker" style="font-family: 'Abril Fatface', cursive;"></label>
                        <input type="time" id="default-picker" class="modal-ora" placeholder="Select time"
                            value="21:02">
                    </div>
                    <div class="md-form md-outline input-with-post-icon datepicker">
                        <label for="default-picker"
                            style="font-family: 'Abril Fatface', cursive; padding-top: 15px;"></label>
                        <input placeholder="Select date" type="date" id="date" class="modal-data" value="12/12/2020">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"
                            style="font-family: 'Abril Fatface', cursive; padding-top: 15px;"></label>
                        <textarea class="modal-contenuto" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                <form class="modal-footer" method="POST" action="">

                    <!--PASSAGGIO DATI, MALEH-->
                    <!-- <input type="hidden" id='demoAuthor' name='demo_author'> -->
                    <input type="hidden" id='demoTitle' name='demo_title'>
                    <input type="hidden" id='demoContent' name='demo_content'>
                    <!-- <input type="hidden" id='demoUploaded' name='demo_uploaded'> -->
                    <input type="hidden" id='demoDate' name='demo_date'>
                    <input type="hidden" id='demoHour' name='demo_hour'>
                    

                    <button style="background-color: rgb(0, 224, 86); color: #fff;" type="submit" class="btn"
                        id="btn-modify" data-toggle="modal" data-target="#exampleModalLong" onclick="getValore()">
                        Salva
                    </button>
                    <button style="background-color: rgb(255, 41, 41); color: #fff;" type="button" class="btn"
                        id="btn-modify" data-toggle="modal" data-target="#exampleModalLong">
                        Annulla
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal No Data -->
    
     <div class="modal fade" id="exampleModalLongNoData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: #fff;">
                <div class="modal-header" style="border-bottom: 1px solid #fff;">
                    <div class="form-group">
                        <label for=" exampleInputEmail1" style="font-family: 'Abril Fatface', cursive;"></label>
                        <input type="text" class="modal-title" id="titleNoData" aria-describedby="emailHelp"
                            placeholder="Inserire titolo Evento"
                            style="font-family: 'Abril Fatface', cursive;">
                    </div>
                    <button id="btn-close-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1NoData"
                            style="font-family: 'Abril Fatface', cursive; padding-top: 15px;"></label>
                        <textarea class="modal-contenuto" id="exampleFormControlTextarea1NoData" rows="3"></textarea>
                    </div>

                <form class="modal-footer-NoData" method="POST" action="">

           
       
                    <input type="hidden" id='demoTitleNoData' name='demo_title'>
                    <input type="hidden" id='demoContentNoData' name='demo_content'>
              
                    

                    <button style="background-color: rgb(0, 224, 86); color: #fff;" type="submit" class="btn"
                        id="btn-modify" data-toggle="modal" data-target="#exampleModalLongNoData" onclick="getValoreNoData()">
                        Salva
                    </button>
                    <button style="background-color: rgb(255, 41, 41); color: #fff;" type="button" class="btn"
                        id="btn-modify" data-toggle="modal" data-target="#exampleModalLongNoData">
                        Annulla
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div> 



    <style>
        body{
            min-height: 120vh !important;
        }
    </style>
    
    
    <footer class="fixed-bottom" style="padding-top: 30px;">
        <h6 style="text-align: center; font-size: 80%; font-family: 'Montserrat'; font-weight: 200; color: #000;">
            <b>© All
                rights Reserved to the OmniaStudios</b></h6>
    </footer>


    <script>
        function getValore() {
            
            var demo_title = document.getElementById('title').value;
            document.getElementById('demoTitle').value = demo_title;


        //document.getElementById('content').value = 'ciao pippo! <- Cit. Tosello NOICE '
            var demo_content = document.getElementById('exampleFormControlTextarea1').value;
            /* console.log('1.5' + document.getElementById('exampleFormControlTextarea1').value  + ' />')    */
            document.getElementById('demoContent').value = demo_content;

            var demo_date = document.getElementById('date').value;
            document.getElementById('demoDate').value = demo_date;


            var demo_hour = document.getElementById('default-picker').value;
            document.getElementById('demoHour').value = demo_hour;


           /* var demo_uploaded = document.getElementById('uploaded').value;
            document.getElementById('demoUploaded').value = demo_uploaded;*/

            /* var demoVal = document.getElementById('demo').value; */
            /* alert(document.getElementById('demo-title').value); */
        }


        function getValoreNoData() {
            
            var demo_title = document.getElementById('titleNoData').value;
            document.getElementById('demoTitleNoData').value = demo_title;


            var demo_content = document.getElementById('exampleFormControlTextarea1NoData').value;

            document.getElementById('demoContentNoData').value = demo_content;

        }
    </script>



<%- include('./partials/footerDashboard')%>